{% extends 'base.html' %}
{% block content %}
<div class="">
    <div class="col-auto col-md-2 col-xl-3 px-sm-2 px-0 vh-100 mt-2 bg-primary shadow" id="sidebar" style="width: 19%;">
        <div
            class="d-flex flex-column align-items-center align-items-sm-start px-4 pb-4  pt-2 text-white " style="height: 100%;">            
            <div class="my-3 mb-5" style="height: 100%;">
                {% block sb_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="dashcontent float-end">
        <div class="col-11 mt-3 " >
            {% block dashcontent %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- Select sidebar item -->
<script>
    let tabs = document.querySelectorAll("#sidebar .nav-link");

    tabs.forEach(function (tab) {
        tab.addEventListener("click", function () {
            tabs.forEach(function (tab) {
                tab.classList.remove("active");
            });

            this.classList.add("active");
        });
    });
</script>
{% endblock %}
