<style>
    .dataTables_wrapper .dataTables_filter {
        margin-bottom: 1.5rem;
    }

    /* Estilos agregados para manejar el desbordamiento con barra de desplazamiento */
    .table-container {
        max-width: 100%;
        overflow-x: auto;
    }
</style>

<div class="table-container">
    <table class="row-border hover" id="datatable">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col" style="width: 10%;">Nombres</th>
                <th scope="col" style="width: 10%;">Apellidos</th>
                <th scope="col" style="width: 10%;">Cedula</th>
                <th scope="col" style="width: 10%;">Fecha de nacimiento</th>
                <th scope="col" style="width: 10%;">Edad</th>
                <th scope="col" style="width: 10%;">Genero</th>
                <th scope="col" style="width: 10%;">Ciudad</th>
                <th scope="col" style="width: 10%;">Celular</th>
                <th scope="col" style="width: 10%;">Accion</th>
            </tr>
        </thead>
        <tbody>
            {% if data_client %}
                <tr>
                    <td class="text-normal">{{ data_client.1 }}</td>
                    <td class="text-normal">{{ data_client.2 }}</td>
                    <td class="text-normal">{{ data_client.3 }}</td>
                    <td class="text-normal">{{ data_client.4 }}</td>
                    <td class="text-normal">{{ data_client.5 }}</td>
                    <td class="text-normal">{{ data_client.6 }}</td>
                    <td class="text-normal">{{ data_client.7 }}</td>
                    <td class="text-normal">
                        {% if data_client.10 %}
                            {{ data_client.10.0.1 }}
                        {% endif %}
                    </td>
                    <!-- {% if is_admin %} -->
                    <!-- {% endif %} -->

                        <td class="text-normal">
                            <div class="col-6">
                                <button class="action-button edit-client-button"
                                        title="Editar campaña"
                                        data-bs-toggle="modal"
                                        data-bs-target="#edit-campaign-{{ data_client.0 }}"
                                        data-id="{{ data_client.0 }}"
                                        data-nombres="{{ data_client.1 }}"
                                        data-apellidos="{{ data_client.2 }}"
                                        data-cedula="{{ data_client.3 }}"
                                        data-fecha-nacimiento="{{ data_client.4 }}"
                                        data-edad="{{ data_client.5 }}"
                                        data-genero="{{ data_client.6 }}"
                                        data-ciudad="{{ data_client.7 }}"
                                        data-celular="{% if data_client.10 %}{{ data_client.10.0.1 }}{% endif %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                            </div>
                            {% include 'components/modals/edit_editarcliente_modal.html' with campaign_form=campaign_form form_id=data_client.0 %}
                        </td>



                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
