{% extends 'components/sidebar.html' %}

{% load static %}

{% block title %}
Operadores | Logi Data Master
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<style>
    .is-danger {
        color: #c9184a !important;     
        font-size: small;   
    }

    .form-control {
        color: #212529 !important;
    }

</style>
{% endblock %}

{% block sb_content %}
<button type="button" class="btn btn-outline btn-primary bg-primary border border-white" onclick="window.location.href='/operadores/'">
    Lista de Operadores
</button>
{% endblock %}

{% block dashcontent %}
<div class="row bg-white shadow-sm justify-content-center p-lg-5 p-md-4 p-sm-3 pt-4">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="message-container" class="row justify-content-center position-relative">
            <div class="col-md-6 position-absolute">         
                {% if error_message %}
                <div id="operador-error-msg" class="alert alert-danger d-flex align-items-center   w-100" role="alert">
                    <div class="mx-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-exclamation-triangle-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                            />
                        </svg>
                    </div>
                    <div class="text-normal">{{ error_message }}</div>
                </div>
                {% endif %}
                {% if success_message %}
                <div id="operador-success-msg" class="alert alert-success d-flex align-items-center  w-100" role="alert">
                    <div class="mx-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-exclamation-triangle-fill"
                            viewBox="0 0 16 16"
                        >
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.525 7.466a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.99-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                    </div>
                    <div class="text-normal">{{ success_message }}</div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mb-5">
            <h1 class="text-left mb-3 fs-3">Información del operador</h1>
        </div>
        <div>
            {% include 'components/forms/edit_operador_form.html' with editOperador=operador_data_form form_id="update_operador" %}
            <button type="submit" name="update_operador_data" class="mb-5 btn btn-outline btn-primary bg-primary border border-white" form="update_operador" >
                Guardar
            </button>
        </div>

        <div class="mb-5 mt-5">
            <h1 class="text-left mb-3 fs-3">Historial del operador</h1>
        </div>
        <div>
            {% include 'components/forms/edit_historialOperador_form.html' with editOperador=historialOperador_data_form form_id="update_historialOperador" %}
            <button type="submit" name="update_historialOperador_data" class="btn btn-outline btn-primary bg-primary border border-white" form="update_historialOperador" >
                Guardar
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include 'components/tables/datatable_scripts.html' %}
<script>
    window.setTimeout(function() {
        var alert = document.getElementById('operador-error-msg');
        if(alert) {
            alert.style.opacity = '0';
            window.setTimeout(function() {
                alert.style.display = 'none';
            }, 500);
        }
    }, 5000);

    window.setTimeout(function() {
        var alert = document.getElementById('operador-success-msg');
        if(alert) {
            alert.style.opacity = '0';
            window.setTimeout(function() {
                alert.style.display = 'none';
            }, 500);
        }
    }, 5000);
</script>
{% endblock %}