{% extends 'components/sidebar.html' %} {% load static %} {% block title %}
Dashboard | Logi Data Master {% endblock %} {% block css %}
<!-- Estilos existentes -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css"
    integrity="sha512-f2MWjotY+JCWDlE0+QAshlykvZUtIm35A6RHwfYZPdxKgLJpL8B+VVxjpHJwZDsZaWdyHVhlIHoblFYGkmrbhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>

<!-- Estilos para la tabla -->
<style>
    body {
        overflow-y: auto;
        /* Allows vertical scrolling */
    }

    .table-container {
        max-width: 100%;
        overflow-x: auto;
    }

    .table-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-container th,
    .table-container td {
        padding: 8px;
        border: 1px solid #ccc;
        text-align: left;
    }

</style>
{% endblock %} {% block sb_content %}
<div class="mb-3">
    <h4>Buscar Cliente</h4>
</div>
{% include 'components/forms/search_client.html' with search_form=data_form_state form_id='search-clients-form' %}
<button
    type="submit"
    name="new_client_search"
    class="btn btn-outline btn-primary bg-primary border border-white"
    form="search-clients-form"
>
    Filtrar data
</button>
<script>
    // Obtén los elementos de entrada
    let cedula = document.querySelector("#search-cedula");
    let celular = document.querySelector("#search-celular");

    const controlFieldChange = () => {
        if (cedula.value.length > 0) {
            // Si se ingresa un valor en cedula, desactiva el campo celular y borra su valor
            
            if (celular.value.length > 0){celular.value = ""};
            if (!celular.disabled ){celular.disabled = true};
        } else {
            celular.disabled = false;
        }
        if (celular.value.length  > 0 ) {
            // Si se ingresa un valor en cedula, desactiva el campo celular y borra su valor
            if (cedula.value.length > 0){cedula.value = ""};
            if (!cedula.disabled ){cedula.disabled = true};
        } else {
            cedula.disabled = false;
        }
        
    }

    // Añade un evento de escucha al campo 'cedula'
    cedula.addEventListener("change", controlFieldChange);
    celular.addEventListener("change", controlFieldChange);
    
</script>
{% endblock %} 

{% block dashcontent %}
<div
    class="row bg-white shadow-sm justify-content-center p-lg-5 p-md-4 p-sm-3 pt-4"
>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="mb-5">
            <h1 class="text-center mb-3 fs-3">Datos del Cliente</h1>
        </div>

        {% if search_err_msg %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div class="mx-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-exclamation-triangle-fill"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                    />
                </svg>
            </div>
            <div class="text-normal">{{ search_err_msg }}</div>
        </div>

        {% else %}
        <div>{% include 'components/tables/client_table.html' %}</div>
        {% endif %}
    </div>
</div>

{% endblock %}



<script>
    const cedulaInput = document.querySelector("#search-cedula");
    const celularInput = document.querySelector("#search-celular");
    const tableRows = document.querySelectorAll("#datatable tbody tr");

    const filterTable = () => {
        const cedulaValue = cedulaInput.value.trim().toLowerCase();
        const celularValue = celularInput.value.trim().toLowerCase();

        tableRows.forEach(row => {
            const cedulaCell = row.querySelector("td:nth-child(3)");
            const celularCell = row.querySelector("td:nth-child(8)");

            const cedulaText = cedulaCell.textContent.trim().toLowerCase();
            const celularText = celularCell.textContent.trim().toLowerCase();

            if ((cedulaValue && cedulaText.includes(cedulaValue)) || (celularValue && celularText.includes(celularValue))) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    };

    cedulaInput.addEventListener("input", filterTable);
    celularInput.addEventListener("input", filterTable);
</script>

